@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Roboto+Serif:ital,opsz,wght@0,8..144,400;0,8..144,600;1,8..144,400;1,8..144,500&family=Roboto:wght@300;400;500;700&family=Spectral:wght@400;600&display=swap");

:host {
  height: calc(100vh - 5rem);
  background: {
    image: url("https://plus.unsplash.com/premium_photo-1667425092311-80658bb0c05f?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"); // Sostituisci con il percorso dell'immagine desiderata
    size: cover;
    color: rgba(0, 0, 0, 0);
  }
  display: block;
  overflow-y: scroll;
}

.bg-mine {
  background-color: #d4bfa17e;
  text-wrap: nowrap;
  width: 600px;
  padding: 2rem 1rem;
  backdrop-filter: blur(15px);
}

h1 {
  font-size: 80px;
  font-family: "Bungee Spice", sans-serif;
}

// POPCORN
$pipoca-color: #faedd9;
$olho-color: #252525;
$boca-color: #9e4c60;
$corpo-color: #a14355;
$listra-color: #eee;
$textinho-color: #222;
$time: 10s;

@mixin transform($info) {
  transform: $info;
  -webkit-transform: $info;
  -moz-transform: $info;
  -ms-transform: $info;
}

@mixin browsers($info) {
  animation: $info;
  -webkit-animation: $info;
  -moz-animation: $info;
  -ms-animation: $info;
  -o-animation: $info;
}

@mixin animation($name) {
  @keyframes #{$name} {
    @content;
  }
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
}

body {
  background-color: #6a7b9c;
  color: #eee;
  font-family: teko, helvetica, arial;
  margin: 0;
}

p {
  font-size: 20pt;
}

.pipoca-wrapper {
  bottom: 0;
  height: 20%;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
}

.pipoca {
  height: 250px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  width: 140px;
}

.cabeca {
  @include browsers(Pipocando $time/10 linear infinite);
}

.parte {
  background-color: $pipoca-color;
  border-radius: 50%;
  position: absolute;
  &.p1 {
    height: 55px;
    top: 5px;
    width: 60px;
  }
  &.p2 {
    height: 70px;
    left: 10px;
    top: -35px;
    width: 80px;
    @include transform(rotate(80deg));
  }
  &.p3 {
    height: 70px;
    left: 45px;
    top: -20px;
    width: 90px;
    @include transform(rotate(-45deg));
  }
  &.p4 {
    border-radius: 0 50% 50% 0%;
    height: 55px;
    left: 30px;
    top: 7px;
    width: 110px;
    @include transform(rotate(2deg));
  }
}

.olho {
  background-color: $olho-color;
  border-radius: 100%;
  height: 27px;
  position: absolute;
  top: -5px;
  width: 20px;
  &:after {
    background-color: $listra-color;
    border-radius: 100%;
    content: "";
    height: 7px;
    left: 8px;
    position: absolute;
    top: 5px;
    width: 7px;
  }
  &.esquerdo {
    left: 35px;
  }
  &.direito {
    right: 35px;
  }
}

.boca {
  border-bottom: 15px solid $boca-color;
  border-radius: 100%;
  height: 10px;
  left: 55px;
  position: absolute;
  top: 21px;
  width: 30px;
  &:after {
    background-color: $pipoca-color;
    content: "";
    height: 8px;
    position: absolute;
    top: 0px;
    width: 35px;
  }
}

.corpo {
  background-color: $corpo-color;
  height: 120px;
  left: 20px;
  position: absolute;
  top: 55px;
  width: 100px;
  z-index: 2;
  &:after {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 120px solid $corpo-color;
    content: "";
    height: 0;
    left: -15px;
    position: absolute;
    width: 0;
    z-index: -1;
  }
  &:before {
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 120px solid $corpo-color;
    content: "";
    height: 0;
    left: 85px;
    position: absolute;
    width: 0;
    z-index: -1;
  }
}

.listra {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 120px solid $listra-color;
  height: 0px;
  left: 25px;
  opacity: 0.9;
  position: absolute;
  width: 30px;
}

.textinho {
  background-color: $textinho-color;
  border-radius: 100%;
  position: absolute;
  p {
    margin: 0;
    text-align: center;
  }
  &.t1 {
    height: 50px;
    left: -50px;
    top: -50px;
    width: 50px;
    @include browsers(sayOi $time linear infinite);
    p {
      line-height: 55px;
      width: 50px;
    }
    &:after {
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 40px solid $textinho-color;
      left: 16px;
      top: 35px;
      width: 1px;
      z-index: -1;
      @include transform(rotate(-30deg));
    }
  }
  &.t2 {
    height: 100px;
    opacity: 0;
    right: -90px;
    top: -110px;
    width: 100px;
    @include browsers(sayPipoca $time linear infinite);
    p {
      font-size: 11pt;
      line-height: 100px;
      width: 100px;
    }
    &:after {
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-top: 65px solid $textinho-color;
      left: 35px;
      top: 78px;
      width: 1px;
      @include transform(rotate(30deg));
    }
  }
  &.t3 {
    height: 50px;
    left: -50px;
    top: -50px;
    width: 50px;
    @include browsers(sayOca1 $time linear infinite);
    p {
      line-height: 55px;
      width: 50px;
    }
    &:after {
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 40px solid $textinho-color;
      left: 16px;
      top: 35px;
      width: 1px;
      z-index: -1;
      @include transform(rotate(-30deg));
    }
  }
  &.t4 {
    height: 50px;
    left: 145px;
    top: -50px;
    width: 50px;
    @include browsers(sayOca2 $time linear infinite);
    p {
      line-height: 55px;
      width: 50px;
    }
    &:after {
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 40px solid $textinho-color;
      left: 13px;
      top: 35px;
      width: 1px;
      z-index: -1;
      @include transform(rotate(30deg));
    }
  }
  &:after {
    content: "";
    height: 0;
    position: absolute;
  }
}

// textinho animation
// @include animation(sayOi) {
//   0% {
//     opacity: 1;
//   }
//   14% {
//     opacity: 1;
//   }
//   15% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 0;
//   }
// }

// @include animation(sayPipoca) {
//   0% {
//     opacity: 0;
//   }
//   14% {
//     opacity: 0;
//   }
//   15% {
//     opacity: 1;
//   }
//   29% {
//     opacity: 1;
//   }
//   30% {
//     opacity: 0;
//   }
// }

// @include animation(sayOca1) {
//   0% {
//     opacity: 0;
//   }
//   10% {
//     opacity: 0;
//   }
//   20% {
//     opacity: 0;
//   }
//   29% {
//     opacity: 0;
//   }
//   30% {
//     opacity: 1;
//   }
//   39% {
//     opacity: 1;
//   }
//   40% {
//     opacity: 0;
//   }
//   49% {
//     opacity: 0;
//   }
//   50% {
//     opacity: 1;
//   }
//   59% {
//     opacity: 1;
//   }
//   60% {
//     opacity: 0;
//   }
//   69% {
//     opacity: 0;
//   }
//   70% {
//     opacity: 1;
//   }
//   79% {
//     opacity: 1;
//   }
//   80% {
//     opacity: 0;
//   }
//   89% {
//     opacity: 0;
//   }
//   90% {
//     opacity: 1;
//   }
// }

// @include animation(sayOca2) {
//   0% {
//     opacity: 0;
//   }
//   10% {
//     opacity: 0;
//   }
//   20% {
//     opacity: 0;
//   }
//   29% {
//     opacity: 0;
//   }
//   30% {
//     opacity: 0;
//   }
//   39% {
//     opacity: 0;
//   }
//   40% {
//     opacity: 1;
//   }
//   49% {
//     opacity: 1;
//   }
//   50% {
//     opacity: 0;
//   }
//   59% {
//     opacity: 0;
//   }
//   60% {
//     opacity: 1;
//   }
//   69% {
//     opacity: 1;
//   }
//   70% {
//     opacity: 0;
//   }
//   79% {
//     opacity: 0;
//   }
//   80% {
//     opacity: 1;
//   }
//   89% {
//     opacity: 1;
//   }
//   90% {
//     opacity: 0;
//   }
//   100% {
//     opacity: 0;
//   }
// }

// pipoca animation
// @include animation(Pipocando) {
//   0% {
//     @include transform(rotate(0deg));
//   }
//   25% {
//     @include transform(rotate(2deg));
//   }
//   100% {
//     @include transform(rotate(-2deg));
//   }
// }
