<h1 class="text-center pt-5 mb-5">I FILM PIU' POPOLARI !</h1>

<div class="container">
  <div class="row">
    <div class="col-3" *ngFor="let movie of movies">
      <div class="card">
        <img
          src="http://image.tmdb.org/t/p/w500{{ movie.poster_path }}"
          class="card-img-top"
          alt="copertina {{ movie.title }}"
        />
        <div class="card-body">
          <h5 class="card-title">{{ movie.title }}</h5>
          <p class="card-text">
            {{ movie.overview }}
          </p>
        </div>
        <div class="ms-2 mb-2">
          <a href="#" class="btn btn-danger"
            ><i class="bi bi-suit-heart-fill"></i
          ></a>
        </div>
      </div>
    </div>
  </div>
</div>
