<div class="container bg-mine rounded-4 mb-5">
  <form class="fw-bold p-3" #form="ngForm" (ngSubmit)="registra(form)">
    <div class="mb-3">
      <label for="nome" class="form-label">Nome</label>
      <input type="text" name="nome" class="form-control" required ngModel />
    </div>
    <div class="mb-3">
      <label for="cognome" class="form-label">Cognome</label>
      <input type="text" name="cognome" class="form-control" required ngModel />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email </label>
      <input type="email" name="email" class="form-control" required ngModel />
    </div>
    <div class="mb-4">
      <label for="password" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        name="password"
        required
        ngModel
      />
    </div>
    <div class="mb-3">
      <label for="imageProf" class="me-2">Scegli il tuo avatar</label>
      <select name="imageProf" required ngModel>
        <option
          value="https://plus.unsplash.com/premium_photo-1676901712447-4395959ac6cf?q=80&w=2080&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        >
          Calcio
        </option>
        <option
          value="https://plus.unsplash.com/premium_photo-1673995611997-b1415658ccbd?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        >
          Tennis
        </option>
        <option
          value="https://images.unsplash.com/photo-1492136344046-866c85e0bf04?q=80&w=2064&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        >
          Parigi
        </option>
        <option
          value="https://images.unsplash.com/photo-1479090793912-eb9929f4fdb2?q=80&w=1936&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        >
          Luna
        </option>
        <option
          value="https://images.unsplash.com/photo-1611162617474-5b21e879e113?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
        >
          Neflix
        </option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
      Registrati
    </button>
  </form>
</div>
